/*
 * анонс -- фото, заголовок і необов'язкова дата
 */
.article
{
    position: relative;

    /***/
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.article picture
{
    overflow: hidden;
}

.article picture img
{
    transition: .5s;
}

.article > h1
{
    margin: var(--gap15) var(--gap20);
    font-weight: 500;
    line-height: 1.5;
    font-size: 21px;
}

.article > h1 a
{
    text-decoration: none;
}

.article time
{
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap10);
    margin: var(--gap15) var(--gap20);
    font-size: 12px;
    text-transform: uppercase;
}

.article time::before
{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238a8a8a' viewBox='0 0 16 16'%3E%3Cpath d='M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z'/%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z'/%3E%3C/svg%3E");
}


/* анімація для фото */
.article:hover picture img
{
    transform: scale(1.05);
}

/* ////////////////////////
артикль з фоновою картинкою
//////////////////////// */

.article-bg
{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.article-bg::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.article-bg .picture
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding-top: 100%;
    height: 100%;
}

.article-bg h1,
.article-bg time
{
    position: relative;
    z-index: 2;
    color: var(--white);
}

.article-bg h1
{
    margin-bottom: 0;
}

.article-bg h1 a
{
    color: var(--white);
}

.article-bg time::before
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z'/%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z'/%3E%3C/svg%3E");
}

/*/////////////////////////////
модифікатор: артиклі у сайдбарі
///////////////////////////// */
aside .article
{
    border-top: 1px solid var(--gray-light);
    padding-top: var(--gap15);
    box-shadow: none;

    /* .blocks-4 */
    width: 100%;
}

aside .article:nth-of-type(1)
{
    border: none;
    padding-top: 0;
}

aside .article > h1
{
    margin: var(--gap15) 0;
    font-size: 16px;
}

/* /////////////////////////////////
модифікатор: дані в артиклі таблицею
///////////////////////////////// */
.article-table
{
    display: flex;
    gap: var(--gap20);
    align-items: flex-start;
    width: 100%;
}

.article-table time
{
    margin: var(--gap5) 0 0!important;
    min-width: 30px;
}

.article-table time::before
{
    display: none;
}

/* //////////////////////////
модифікатор: важливий артикль
////////////////////////// */
.article-important h1,
.article-important h1 a
{
    color: var(--second);
    font-weight: 800;
}

/* 
модифікатор: сторінка з постами
фото зліва, справа заголовок, дата і анонс
*/
.article-post
{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: repeat(2,auto) 1fr;
    grid-gap: var(--gap10) var(--gap20);
    grid-template-areas: 
        'article-post-picture article-post-h1'
        'article-post-picture article-post-time'
        'article-post-picture article-post-p';
    margin: var(--gap20) 0;
    box-shadow: var(--box-shadow);
}

.article-post .picture
{
    grid-area: article-post-picture;
}

.article-post h1
{
    grid-area: article-post-h1;
    margin: var(--gap15) var(--gap20) 0 0;
}

.article-post time
{
    grid-area: article-post-time;
    margin: 0 var(--gap20) 0 0;
}

.article-post p
{
    grid-area: article-post-p;
    margin: 0 var(--gap20) var(--gap20) 0;
}