/*
 * 3 і 1 трохи ширший блок
 */

.blocks-3
{
    margin: calc(var(--gap20)*2) 0;

    display: grid;
    grid-gap: var(--gap20);
    grid-template-columns: repeat(3,1fr) 1.5fr;
}

@media(max-width:996px)
{
    .blocks-3
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:600px)
{
    .blocks-3
    {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}