#page
{
    margin-top: var(--gap20);
    margin-bottom: var(--gap20);
    display: grid;
    grid-template-columns: 3fr 1.25fr;
    grid-gap: var(--gap20);
}

@media(max-width: 776px)
{
    #page
    {
        grid-template-columns: 1fr;
    }
}

/* основна шпальта */
#page main
{
    background: var(--main-bg);
    box-shadow: var(--box-shadow);
}

#page main picture:first-child,
#page main figure:first-child
{
    margin: 0 0 var(--gap20);
    display: block;
}

#page main figcaption
{
    font-style: italic;
}

#page main figure:first-child figcaption
{
    display: block;
    margin: 0 var(--gap20);
}

#page main h1
{
    color: var(--first);
}

#page main h1,
#page main h2,
#page main h3,
#page main h4,
#page main h5,
#page main p,
#page main figure,
#page main time,
#page main .tags
{
    margin: 0 var(--gap20) var(--gap20);
    display: block;
}

#page main time
{
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap10);
    font-size: 12px;
    text-transform: uppercase;
}

#page main time::before
{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238a8a8a' viewBox='0 0 16 16'%3E%3Cpath d='M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z'/%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z'/%3E%3C/svg%3E");
}

#page main time span
{
    border-left: 1px solid var(--body-color);
    padding-left: var(--gap10);
}

#page main a
{
    color: var(--second);
}

#page main em
{
    color: var(--second);
}

#page main ul,
#page main ol
{
    margin: var(--gap20) 0 var(--gap20) calc(var(--gap20)*2);
}

#page main li
{
    margin: var(--gap10) 0;
}

#page main blockquote
{
    margin: var(--gap20);
}

/* цитата */
#page main blockquote p
{
    margin: 0 0 var(--gap10);
    border-left: 4px solid var(--second);
    padding-left: var(--gap10);
    font-style: italic;
}

/* автор */
#page main blockquote span
{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: var(--first);
}

/* анонси */
@media(max-width:776px)
{
    
    #page aside
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: var(--gap10);
        align-items: flex-start;
    }

    #page aside .title
    {
        grid-column: 1/-1;
    }

    #page aside .article
    {
        border: none;
        padding: 0;
        margin: 0;
    }
}

@media(max-width:450px)
{
    #page aside
    {
        grid-template-columns: 1fr;
    }
}

/* TODO: button center */