*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

:root
{
    --first: #1c1e21;
    --second: #d72924;
    --third: #2d88ff;
    --add: #f5f6fa;

    --first-dark: #000;
    --second-dark: #800000;
    --third-dark: #263951;
    --add-dark: #e1e1e1;

    --gold: gold;
    /* --gray: var(--body-color); */
    --gray-light: #e2dcdc;
    --white: #fff;

    /* TODO: dark theme */

    --gap20: 20px;
    --gap15: 15px;
    --gap10: 10px;
    --gap5: 5px;


    --body-bg: #f5f5f5;
    --body-color: #727272;

    --top-bg: #fafafd;
    --form-bg: #efefef;

    --hot-color: #464646;

    --breadcrumbs-bg: #fff;

    --main-bg: #fff;


    --tags-color: #464646;
    --tags-bg: #f5f5f5;
    --tags-color-hover: #f5f5f5;
    --tags-bg-hover: #464646;


    --pagination-color: #464646;
    --pagination-bg: #fff;
    --pagination-color-hover: #fff;
    --pagination-bg-hover: #464646;


    --box-shadow: 0 0 calc(var(--gap20)*2) rgba(0, 0, 0, .1);


    --button-bg: #f5f5f5;
    --button-color: #464646;
    --button-bg-hover: #464646;
    --button-color-hover: #f5f5f5;

    --footer-bg: #464646;
    --footer-color: #f5f5f5;

    --calendar-bg: var(--body-bg);
    --calendar-color: var(--first);
    --calendar-bg-hover: var(--button-bg-hover);
    --calendar-color-hover: var(--button-color-hover);

    --copy-color: var(--footer-color);
    --copy-bg: #000;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: var(--body-color);
    background: var(--body-bg);
}

/* лочимо боді */
body.active
{
    position: fixed;
    overflow: hidden;
}

p
{
    line-height: 1.6;
    margin: 0 0 var(--gap20);
}

h1,h2,h3,h4,h5
{
    margin: 0 0 var(--gap20);
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 28px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 20px;
}

h5
{
    font-size: 16px;
}

/* горизонтальна риска */
hr
{
    border: none;
    border-top: 1px solid var(--gray-light);
    margin: var(--gap20) 0;
}

/* вертикальна риска */
i
{
    display: block;
    font-style: normal;
    display: inline-block;
    height: calc(100% - 20px);
    width: 1px;
    background: var(--gray-light);
    margin: 0 10px;
}

a
{
    text-decoration: underline;
    color: var(--first);
    transition: .5s;
}

a:hover,
a:focus
{
    text-decoration: none;
    color: var(--second);
}

.wrapper
{
    width: 1200px;
    margin: auto;
}

@media(max-width:1240px)
{
    .wrapper
    {
        width: 95%;
    }
}



/* default position image */
img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

picture img, 
picture source
{
    width: 100%;
    height: auto;
}
/* default position image */

/* 19:6 */
.picture
{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.picture picture
{
    display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.picture picture img
{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}
/* 19:6 */


/* малий рекламний блок */
.insert-image
{
    min-height: 80px;
    
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
}

/* TODO: forms */

/* TODO: search */