#status
{
    text-align: center;
    padding: calc(var(--gap20)*4) 0;
    width: 600px;
    margin: auto;
    height: calc(100vh - 535px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

@media(max-width:640px)
{
    #status
    {
        width: 95%;
    }
}

#status h1
{
    color: var(--second);
}