.video-link
{
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.video-link.video-open-inline-rendered::after
{
    display: none;
}

.video-link::after
{
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 -77 512.00213 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m501.453125 56.09375c-5.902344-21.933594-23.195313-39.222656-45.125-45.128906-40.066406-10.964844-200.332031-10.964844-200.332031-10.964844s-160.261719 0-200.328125 10.546875c-21.507813 5.902344-39.222657 23.617187-45.125 45.546875-10.542969 40.0625-10.542969 123.148438-10.542969 123.148438s0 83.503906 10.542969 123.148437c5.90625 21.929687 23.195312 39.222656 45.128906 45.128906 40.484375 10.964844 200.328125 10.964844 200.328125 10.964844s160.261719 0 200.328125-10.546875c21.933594-5.902344 39.222656-23.195312 45.128906-45.125 10.542969-40.066406 10.542969-123.148438 10.542969-123.148438s.421875-83.507812-10.546875-123.570312zm0 0' fill='%23f00'/%3E%3Cpath d='m204.96875 256 133.269531-76.757812-133.269531-76.757813zm0 0' fill='%23fff'/%3E%3C/svg%3E");
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 2;
    transition: .5s;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.video-link:hover::after
{
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 -77 512.00213 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m501.453125 56.09375c-5.902344-21.933594-23.195313-39.222656-45.125-45.128906-40.066406-10.964844-200.332031-10.964844-200.332031-10.964844s-160.261719 0-200.328125 10.546875c-21.507813 5.902344-39.222657 23.617187-45.125 45.546875-10.542969 40.0625-10.542969 123.148438-10.542969 123.148438s0 83.503906 10.542969 123.148437c5.90625 21.929687 23.195312 39.222656 45.128906 45.128906 40.484375 10.964844 200.328125 10.964844 200.328125 10.964844s160.261719 0 200.328125-10.546875c21.933594-5.902344 39.222656-23.195312 45.128906-45.125 10.542969-40.066406 10.542969-123.148438 10.542969-123.148438s.421875-83.507812-10.546875-123.570312zm0 0' fill='%23fff'/%3E%3Cpath d='m204.96875 256 133.269531-76.757812-133.269531-76.757813zm0 0' fill='%23f00'/%3E%3C/svg%3E");
}

[style*="--aspect-ratio"]
{
    position: relative;
    background: var(--first);
}

[style*="--aspect-ratio"]::before
{
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}